<mat-card class="employee">
  <div class = "header">
    <mat-card-header class="header">
      <mat-card-title class="name"><b>{{employee.firstName}} {{employee.lastName}}</b></mat-card-title>

      <mat-card-subtitle>ID: {{employee.id}}<br><i>Job Title:</i> {{employee.position}}<br></mat-card-subtitle>
    </mat-card-header>
  </div>
  <mat-card-content class="employee-info">
    <div class = "tab">
   
      <!--Compensation: ${{employee.compensation}} <br>-->
      
    
      <div class = "reporting" *ngIf="totalReports>0"><i>{{totalReports}} Reportees</i>
      <ul className="reportee"><li *ngFor = "let individual of reportees" >
        {{individual.firstName}} {{individual.lastName}}<button id="removal" (click)="letGo(individual)"><mat-icon>delete</mat-icon></button><button (click)="openForm(individual)"><mat-icon>edit</mat-icon></button>
      </li></ul></div>

    <ng-container *ngFor="let employee of employees" >
      <li></li>
    </ng-container>
    </div>
  </mat-card-content>
</mat-card>
